* {
    padding: 0;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.brand {
    margin-left: 10px;
}

#color {
    margin-left: 0;
    color: grey;
}

/* Navigation */

.kanan a{
    font-size: 18px;
    position: relative;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 15px;
    transition: 0.2s;
}

.kanan a::after{
    content: "";
    position: absolute;
    background-color: rebeccapurple;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.kanan a:hover::after{
    width: 100%;
}

.kanan ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

.kanan ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.kanan ul li a{
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
    background: white;
}

.kanan ul ul{
    position: absolute;
    top: 60px;
    display: none;
}

.kanan ul li:hover > ul{
    display: block;
}

.kanan ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

/* Login */

.login {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 50px;
}

#login-btn {
    text-align: center;
    color: black;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 black;
    transition: 0.5s;
}

#login-btn:hover {
    box-shadow: inset 150px 0 0 0 black;
    cursor: pointer;
    color: white;
}


.login a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

#sign-btn {
    text-align: center;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #e0d6eb;
    box-shadow: inset 0 0 0 0;
    transition: 0.5s;
}

#sign-btn:hover {
    box-shadow: inset 150px 0 0 0 rebeccapurple;
    cursor: pointer;
    color: white;
}

/* Content */
.head {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.head img {
    width: 600px;
}

.head-text p {
    color: #4c4c4c;
    margin-bottom: 50px;
}

.head-text a {
    background-color: #e0d6eb;
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 30px;
    margin-top: 50px;
}

.information {
    width: 80%;
    margin: 50px auto;
    background-color: white;
    display: flex;
    border-radius: 30px;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

.contact-left h3 {
    margin-bottom: 30px;
}

.contact-right h3 {
    margin-bottom: 30px;
}

.form {
    flex-basis: 60%;
    padding: 40px 60px;
}

.info {
    flex-basis: 40%;
    padding: 40px;
    background-color: #e0d6eb;
    color: black;
    border-radius: 30px;
}

.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group {
    flex-basis: 45%;
}

.input-group {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.input-group input {
    width: 100%;
    height: 40px;
    padding: 0 5px;
    font-size: 16px;
    color: black;
    border: none;
    background: none;
    outline: none;
}

.input-group label {
    position: absolute;
    color: #adadad;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.input-group span {
    background-color: #adadad;
}

.input-group span::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background: rebeccapurple;
    transition: .5s;
}

.input-group input:focus ~ label,
.input-group input:valid ~ label {
    top: -5px;
    color: rebeccapurple;
}

.input-group input:focus ~ span::before,
.input-group input:valid ~ span::before {
    width: 100%;
}

textarea {
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Poppins', sans-serif;
}

button {
    background: #e0d6eb;
    width: 100px;
    border: none;
    outline: none;
    color: black;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0px 5px 15px 0px rgba(28, 0, 181, 0.3);
}

tr td:first-child {
    padding-right: 20px;
}

tr td {
    padding-top: 20px;
}

#address {
    display: block;
}

/* Footer */

footer {
    width: 100vw;
    height: 300px;
    margin-top: 50px;
    background-color: #f7f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cetax {
    margin-left: 70px;
    text-align: center;
}

.footer-img a {
    text-decoration: none;
}

.footer-img a img {
    width: 50px;
}

.copyright p {
    color: #c4c4c4;
}

.location {
    margin-right: 50px;
}

.location p {
    width: 300px;
    color: #c4c4c4;
    font-weight: 500;
}

.contact-us p{
    color: #c4c4c4;
}

.useful-link {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.useful-link a {
    text-decoration: none;
    color: #c4c4c4;
    transition: .5s all ease-in-out;
}

.useful-link a:hover {
    color: black;
}