* {
    padding: 0;
    margin: 0;
}

html, body {
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.brand {
    margin-left: 10px;
}

#color {
    margin-left: 0;
    color: grey;
}

/* Navigation */

.kanan a{
    font-size: 18px;
    position: relative;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 15px;
    transition: 0.2s;
}

.kanan a::after{
    content: "";
    position: absolute;
    background-color: rebeccapurple;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.kanan a:hover::after{
    width: 100%;
}

.kanan ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

.kanan ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.kanan ul li a{
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
    background: white;
}

.kanan ul ul{
    position: absolute;
    top: 60px;
    display: none;
}

.kanan ul li:hover > ul{
    display: block;
}

.kanan ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

/* Login */

.login {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 50px;
}

#login-btn {
    text-align: center;
    color: black;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 black;
    transition: 0.5s;
}

#login-btn:hover {
    box-shadow: inset 150px 0 0 0 black;
    cursor: pointer;
    color: white;
}


.login a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

#sign-btn {
    text-align: center;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #e0d6eb;
    box-shadow: inset 0 0 0 0;
    transition: 0.5s;
}

#sign-btn:hover {
    box-shadow: inset 150px 0 0 0 rebeccapurple;
    cursor: pointer;
    color: white;
}

/* CONTENT */

.content-slide{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.slider{
    max-width: 1200px;
    border-radius: 40px;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 100%;
    height: 80vh;
}

/* Manual slide start */

.nav-manual{
    position: absolute;
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.manual-btn{
    max-width: 70%;
    justify-content: center;
    border: 2px solid black;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: black;
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

#radio5:checked ~ .first{
    margin-left: -80%;
}

/* Manual slide end */

/* Auto slide start */

.nav-auto{
    position: absolute;
    width: 70%;
    display: flex;
    justify-content: center;
    margin-top: 430px;
}

.nav-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.nav-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .nav-auto .auto-btn1{
    background: black;
}

#radio2:checked ~ .nav-auto .auto-btn2{
    background: black;
}

#radio3:checked ~ .nav-auto .auto-btn3{
    background: black;
}

#radio4:checked ~ .nav-auto .auto-btn4{
    background: black;
}

#radio5:checked ~ .nav-auto .auto-btn5{
    background: black;
}

/* Auto slide end */

/* Top Products */

.title {
    margin-top: 100px;
    margin-left: 50px;
}

/* Card Product */
#product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 220px;
    margin-right: 210px;
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
}

.card {
    position: relative;
    width: 280px;
    height: 380px;
    margin-top: 40px;
    background-color: #ab8fc7;
    border-radius: 20px;
    overflow: hidden;
}

.card::before {
    content: '';
    position: absolute;
    top: -50%;
    width: 150%;
    height: 100%;
    background: white;
    transform: skewY(345deg);
    transition: 0.5s;
}

.card:hover::before {
    top: -70%;
    transform: skewY(390deg);
}

.card::after {
    content: ' Best';
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 8em;
    color: rgba(0, 0, 0, 0.1);
}

.card .img-box img {
    max-width: 100%;
    transition: 0.5s;
}

.card:hover .img-box img {
    max-width: 100%;
}

.card .img-box {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.card .price-box {
    position: relative;
    padding: 20px;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.card .price-box h3 {
    font-size: 18px;
    color: black;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.card .price-box .price {
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
    margin-left: -9px;
}

.card .price-box .buy {
    position: relative;
    top: 200px;
    opacity: 0;
    padding: 10px 30px;
    margin-top: 15px;
    color: white;
    text-decoration: none;
    background-color: #122936;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: 0.5s;
}

.card:hover .price-box .buy {
    top: 0;
    opacity: 1;
}

/* Why Us & Portfolio */

.box-why {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#why-us {
    width: 300px;
    margin: 50px;
}

#portofolio {
    text-decoration: none;
}

.portfolio {
    background: rgba(102, 51, 153, 0.55);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.1px);
    -webkit-backdrop-filter: blur(7.1px);
    width: 400px;
    height: 450px;
    border-radius: 30px;
}

.portfolio #click {
    margin-left: 41px;
    text-decoration: none;
    color: white;
}

.portfolio h1 {
    margin-top: 60px;
    margin-left: 40px;
    color: white;
}

.portfolio a img {
    width: 350px;
    height: 200px;
    margin: 80px 25px;
    border-radius: 30px;
}

/* Clients */
#client-title {
    margin-left: 50px;
}

.img-clients {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 100px;
}

.img-clients img {
    width: 200px;
}

.img-clients #mcd {
    width: 400px;
}

/* Footer */

footer {
    width: 100vw;
    height: 300px;
    background-color: #f7f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cetax {
    margin-left: 70px;
    text-align: center;
}

.footer-img a {
    text-decoration: none;
}

.footer-img a img {
    width: 50px;
}

.copyright p {
    color: #c4c4c4;
}

.location {
    margin-right: 50px;
}

.location p {
    width: 300px;
    color: #c4c4c4;
    font-weight: 500;
}

.contact-us p{
    color: #c4c4c4;
}

.useful-link {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.useful-link a {
    text-decoration: none;
    color: #c4c4c4;
    transition: .5s all ease-in-out;
}

.useful-link a:hover {
    color: black;
}