* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    scroll-behavior: smooth;
    max-width: 100%;
    overflow-x: hidden;
}

/* Navbar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */

.logo {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

/* Navigation */

.kanan a{
    font-size: 18px;
    position: relative;
    padding: 0 10px;
    color: white;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-size: 15px;
    transition: 0.2s;
}

.kanan a::after{
    content: "";
    position: absolute;
    background-color: rebeccapurple;
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 0.3s;
}

.kanan a:hover::after{
    width: 100%;
}

.kanan ul{
    padding: 0;
    margin: 0;
    float: right;
    margin-right: 30px;
}

.kanan ul li{
    position: relative;
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.kanan ul li a{
    display: block;
    padding: 0 15px;
    color: black;
    text-decoration: none;
    line-height: 60px;
    font-size: 15px;
    background: white;
}

.kanan ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}

/* Login */

.login {
    display: flex;
    align-items: center;
    margin: 10px;
    margin-right: 50px;
}

#login-btn {
    text-align: center;
    color: black;
    padding: 10px 30px;
    border-radius: 30px;
    box-shadow: inset 0 0 0 0 black;
    transition: 0.5s;
}

#login-btn:hover {
    box-shadow: inset 150px 0 0 0 black;
    cursor: pointer;
    color: white;
}


.login a {
    text-decoration: none;
    color: black;
    margin: 10px;
}

#sign-btn {
    text-align: center;
    color: black;
    padding: 10px 25px;
    border-radius: 30px;
    background-color: #e0d6eb;
    box-shadow: inset 0 0 0 0;
    transition: 0.5s;
}

#sign-btn:hover {
    box-shadow: inset 150px 0 0 0 rebeccapurple;
    cursor: pointer;
    color: white;
}

/* Content */
.container {
    display: flex;
    justify-content: space-evenly;
}

.container-2 {
    display: flex;
    justify-content: space-evenly;
}

.box{
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 30px;
    overflow: hidden;
    margin: 40px;
    margin-left: 0;
}

.slide-img{
    height: 350px;
    position: relative;
}

.slide-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    box-sizing: border-box;
}

.detail-box{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-sizing: border-box;
    flex-direction: column;
    text-align: center;
}

.type{
    display: flex;
}

.type a{
    color: black;
    margin: 5px 0px;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.5px;
    padding-right: 8px;
    text-decoration: none;
}

.price{
    color: black;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-decoration: none;
}

.overlay{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-color: rgba(3,3,3,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.buy-btn{
    width: 160px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-decoration: none;
    color: black;
    font-weight: 700;
    letter-spacing: 1px;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
}

.buy-btn:hover{
    color: white;
    background-color: black;
    transition: all ease 0.3s;
}

.overlay{
    visibility: hidden;
}

.slide-img:hover .overlay{
    visibility: visible;
    animation: fade 0.5s;
}

@keyframes fade{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

/* How to Order */
#order-title {
    margin-top: 50px;
    text-align: center;
}

.order {
    display: flex;
    align-items: center;
    margin: 50px 225px;
    max-width: 1200px;
    background-color: #f1f1f3;
    border-radius: 30px;
}

.order-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.order-box h1 {
    font-size: 1.2rem;
}

.order-box p {
    font-size: 0.8rem;
    text-align: center;
}

 /* Footer */

footer {
    width: 100vw;
    height: 300px;
    background-color: #f7f8f8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cetax {
    margin-left: 70px;
    text-align: center;
}

.footer-img a {
    text-decoration: none;
}

.footer-img a img {
    width: 50px;
}

.copyright p {
    color: #c4c4c4;
}

.location {
    margin-right: 50px;
}

.location p {
    width: 300px;
    color: #c4c4c4;
    font-weight: 500;
}

.contact-us p{
    color: #c4c4c4;
}

.useful-link {
    margin-right: 100px;
    display: flex;
    flex-direction: column;
}

.useful-link a {
    text-decoration: none;
    color: #c4c4c4;
    transition: .5s all ease-in-out;
}

.useful-link a:hover {
    color: black;
}